<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar sticky-top px-4 py-2 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="" class="navbar-brand p-0">
      <h1 class="display-6 text-dark"><i class="fas fa-graduation-cap text-primary me-3"></i>SuperviseMe</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <!-- menus start-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto py-0">

        <!--

            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Service</a>
            <a href="blog.html" class="nav-item nav-link">Blog</a>
        -->

      </div>
    </div>
    <!-- menus end -->

  </nav>
</div>
<!-- Navbar & Hero End -->

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">

  <div class="header-carousel-item">
    <img src="assets/img/background.jpg" class="img-fluid w-100" alt="Image">
    <div class="carousel-caption">
      <div class="container py-4">
        <div class="row g-5 align-items-center">
          <div class="col-xl-7 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s"
               style="animation-delay: 1s;">
            <div class="text-start">
              <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome To SuperviseMe</h4>
            </div>
          </div>
          <div class="col-xl-5 fadeInRight animated" data-animation="fadeInRight" data-delay="1s"
               style="animation-delay: 1s;">
            <div class="ticket-form p-5">
              <h2 class="text-dark text-uppercase mb-4">Authentification</h2>

              <form (ngSubmit)="onSubmit()">
                <div class="row g-4">

                  <div class="col-12" *ngIf="showWrongMsg">
                    <p class="alert alert-warning">
                      <strong>Les informations saisies sont erronées</strong>
                    </p>
                  </div>

                  <div class="col-12" *ngIf="showRequiredMsg">
                    <p class="alert alert-warning">
                      <strong>Veuillez saisir l'email et le password</strong>
                    </p>
                  </div>

                  <div class="col-12">
                    <input type="text" [(ngModel)]="email" class="form-control border-0 py-2" id="email" placeholder="Votre Email"
                            name="email">
                  </div>

                  <div class="col-12">
                    <input type="text" [(ngModel)]="password" class="form-control border-0 py-2" id="password" placeholder="Votre Password"
                           name="password">
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100 py-2 px-5">Connectez vous</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->
